.certificates {
    display: flex;

    @include breakpoint('<=medium') {
        flex-direction: column;
    }
}

.cert {
    width: 95%;
    /*
    width: 90%;

    @include breakpoint('<=medium') {
        width: 90%;
    }
    @include breakpoint('<=small') {
        width: 95%;
    }
    @include breakpoint('<=xsmall') {
        width: 100%;
    }
    */
}