.cert {
    width: 80%;

    @include breakpoint('<=medium') {
        width: 90%;
    }
    @include breakpoint('<=small') {
        width: 95%;
    }
    @include breakpoint('<=xsmall') {
        width: 100%;
    }
}